<!-- views/partials/footer.ejs -->
  <div class="progress" id="progressBar">
    <!-- FIXED PROGRESS BAR GOES HERE -->
    <div class="chosen-gifs" id="chosenGifs">
      <small id="chosenGifsTitle">Drag and drop GIFs into the top row.</small><br />
      <div id="chosenGifsArea">
        <div class="chosen-gif-area" id="selectedGifArea1" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img class="selected-gif" id="selectedGif1" src="#" alt=""></img>
          <button type="button" class="close" aria-label="Close" data-id="Gif1" style="filter: invert(1); top: 0.5vw; right: 0.5vw; position: absolute">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="chosen-gif-area" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img class="selected-gif" id="selectedGif2" src="#" alt=""></img>
          <button type="button" class="close" aria-label="Close" data-id="Gif2" style="filter: invert(1); top: 0.5vw; right: 0.5vw; position: absolute">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="chosen-gif-area" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img class="selected-gif" id="selectedGif3" src="#" alt=""></img>
          <button type="button" class="close" aria-label="Close" data-id="Gif3" style="filter: invert(1); top: 0.5vw; right: 0.5vw; position: absolute">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="chosen-gif-area" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img class="selected-gif" id="selectedGif4" src="#" alt=""></img>
          <button type="button" class="close" aria-label="Close" data-id="Gif4" style="filter: invert(1); top: 0.5vw; right: 0.5vw; position: absolute">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div id="chosenSoundsArea">
        <div class="selected-sound" id="selectedSoundArea1">
          <div id="selectedSound1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <button type="button" class="close" aria-label="Close" data-id="Sound1" style="filter: invert(1)">
            <span aria-hidden="true">&times;</span>
          </button>
          <a id='selectedSoundA1' hidden></a>
        </div>
        <div class="selected-sound" id="selectedSoundArea2">
          <div id="selectedSound2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <button type="button" class="close" aria-label="Close" data-id="Sound2" style="filter: invert(1)">
            <span aria-hidden="true">&times;</span>
          </button>
          <a id='selectedSoundA2' hidden></a>
        </div>
        <div class="selected-sound" id="selectedSoundArea3">
          <div id="selectedSound3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <button type="button" class="close" aria-label="Close" data-id="Sound3" style="filter: invert(1)">
            <span aria-hidden="true">&times;</span>
          </button>
          <a id='selectedSoundA3' hidden></a>
        </div>
        <div class="selected-sound" id="selectedSoundArea4">
          <div id="selectedSound4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <button type="button" class="close" aria-label="Close" data-id="Sound4" style="filter: invert(1)">
            <span aria-hidden="true">&times;</span>
          </button>
          <a id='selectedSoundA4' hidden></a>
        </div>
      </div>
      <small id="chosenSoundsTitle">Drag and drop sounds into the bottom row.</small>
    </div>
  </div>
