<!-- views/partials/head.ejs -->
<head>
    <meta charset="utf-8">
    <title>GIFovie</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
  
    <script type="text/javascript" src="../../public/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/app.js"></script>
    <script type="text/javascript" src="../../public/js/freesound.js"></script>
    <script type="text/javascript">
      freesound.setToken("hNPvV1w5NETnh45zEYJe4gq4QvPzg6D6xEskdZqY");
    </script>
</head>

<div class="header" id="header">
  <p class="header-text" id="headerText">GIFovie</p>
</div>