<html>
  <head>
    <meta charset="utf-8">
    <title>GIFovie</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style>
    /*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');*/
    html {
      scroll-behavior: smooth;
      margin: 0;
      height: 100%;
      overflow: hidden;
    }

    body {
      font-family: "Comic Sans MS";
      /*background-image: linear-gradient(to right, #ffad89, white);*/
    }

    .backImg {
      background-image: linear-gradient(to right, #d73f09, yellow);
      opacity: 0.2;
      z-index: -1;
      width: 100%;
      height: 100vh;
    }

    .welcome-section {
      height: 100vh;
      width: 100%;
      text-align: center;
      display: table;
      z-index: 100;
      background-image: linear-gradient(to right, purple, blue);
    }

    .welcome-page-content {
      display: table-cell;
      vertical-align: middle;
    }

    #title {
      font-size: 6vw;
      font-weight: bold;
      color: white;
    }

    #subtitle {
      font-size: 3vw;
      color: yellow;
    }

    .header {
      position: fixed;
      height: 10vh;
      width: 100%;
      background-color: red;
      background-image: linear-gradient(to right, purple, blue);
      color: white;
      text-align: center;
      vertical-align: middle;
      font-size: 4vh;
      font-weight: bold;
      display: table;
      z-index: -1;
    }

    .header-text {
      height: 10vh;
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
    }

    .section-title {
      text-align: center;
    }

    .addgif-section {
      min-height: 85vh;
      width: 100%;
      display: table;
      padding-top: 11vh;
      padding-left: 1vh;
      padding-right: 1vh;
      padding-bottom: 1vh;
    }

    .addsound-section {
      min-height: 80vh;
      width: 100%;
      display: table;
      padding-top: 11vh;
      padding-left: 1vh;
      padding-right: 1vh;
      padding-bottom: 1vh;
    }

    .review-section {
      min-height: 100vh;
      width: 100%;
      display: table;
      padding-top: 11vh;
      padding-left: 1vh;
      padding-right: 1vh;
      padding-bottom: 1vh;
    }

    .progress {
      min-height: 22vh;
      width: 100%;
      position: fixed;
      bottom: 0;
      font-size: 10vw;
      padding: 0.5vw;
      background-image: linear-gradient(to right, purple, blue);
      display: flex;
      flex-direction: column;
    }

    .chosen-gifs {
      height: 11.5vh;
      width: 100%;
      margin-bottom: 0.5vw;
      font-size: 1.5vw;
      color: #707070;
      text-align: center;
      vertical-align: middle;
    }

    .chosen-sounds {
      height: 4vh;
      width: 100%;
      font-size: 1.5vw;
      color: #707070;
      text-align: center;
      vertical-align: middle;
    }

    .page-content {
      min-height: 55vh;
      vertical-align: middle;
      bottom: 0;
      right: 0;
      border: solid transparent 1px;
      z-index: -1;
    }

    .page-content.review {
      height: 100%;
      margin: 0 auto;
      position: relative;
      vertical-align: middle;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    .search-result-section {
      min-height: 20vh;
      background-color: #e0e0e0;
    }

    .page-action {
      float: right;
      padding: 1vw;
      bottom: 0;
      right: 0;
      z-index: -1;
      border: solid transparent 1px;
    }

    #downloadSuccessAlert {
      display: none;
    }

    #gifSearch {
      min-height: 4vh;
      z-index: -1;
    }

    #soundSearch {
      min-height: 4vh;
      z-index: -1;
    }

    #gifSearchResults {
      min-width: 98vw;
      display: flex;
      flex-direction: row;
    }

    .gif-result {
      width: auto;
      height: 6vw;
      overflow: hidden;
      padding: 0.5vw;
      margin: 0 auto;
      position: relative;
    }

    .selected-gif {
      height: 5vw;
      width: 9vw;
      overflow: hidden;
      padding: 0.5vw;
      margin: 0 auto;
      position: relative;
      opacity: 0;
      border: solid grey 1px;
    }

    .selected-sound {
      height: 4vw;
      width: 16vw;
      text-overflow: ellipsis;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.5vw;
      margin: 0 auto;
      position: relative;
      opacity: 0;
      border: solid grey 1px;
    }

    .final-gif {
      height: 10vw;
      width: auto;
      overflow: hidden;
      padding: 0.5vw;
      margin: 0 auto;
      position: relative;
    }
    .final-sound {
      height: 10vw;
      width: 15vw;
      overflow: hidden;
      padding: 0.5vw;
      margin: 0 auto;
      position: relative;
    }

    #chosenGifsArea {
      display: flex;
      flex-direction: row;
    }
    #chosenSoundsArea {
      display: flex;
      flex-direction: row;
    }
    #chosenGifsTitle {
      color: white;
      opacity: 0;
    }

    #chosenGif1, #chosenGif2, #chosenGif3, #chosenGif4 {
      padding: 0.5vw;
      height: 90%;
      width: 20%;
      overflow: hidden;
      padding: 0.5vw;
      margin: 0 auto;
      position: relative;
      vertical-align: middle;
    }

    #chosenSound1, #chosenSound2, #chosenSound3, #chosenSound4 {
      padding: 0.5vw;
      height: 90%;
      width: 20%;
      overflow: hidden;
      padding: 0.5vw;
      margin: 0 auto;
      position: relative;
      vertical-align: middle;
    }

    #reviewGif {
      top: 0;
      left: 50%;
      text-align: center;
      vertical-align: middle;
    }

    .sound-name {
      width: 25vw;
      text-overflow: ellipsis;
    }

    </style>
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->

    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/freesound.js"></script>
    <script type="text/javascript">
    freesound.setToken("hNPvV1w5NETnh45zEYJe4gq4QvPzg6D6xEskdZqY");
    </script>
    <!--<script type="text/javascript" src="/js/tenor.js"></script>-->
  </head>
  <body>
    <div class="header" id="header">
      <p class="header-text" id="headerText">GIFovie</p>
    </div>
    <div class="welcome-section" id="welcomeSection">
      <div class="welcome-page-content">
        <div id="title">GIFovie</div>
        <div id="subtitle">Make Movies Out of GIFs</div><br/>
        <button class="btn btn-lg btn-primary" id="getStartedBtn">--> Get Started <--</button>
      </div>
    </div>
    <div class="addgif-section" id="addGifSection">
      <!-- ADD GIFS TO YOUR GIFOVIE -->
      <h3 class="section-title">Add GIFs</h3>
      <div class="page-content">
        <form id="gifovie-form" onsubmit="return submitGifovieForm();">
            <div class="input-group mb-3" id="gifSearch">
                <input type="text" class="form-control" id="gifSearchInput" placeholder="Search GIFs...">
                <div class="input-group-append">
                  <button class="btn btn-primary" id="gifSearchBtn">Search</button>
                </div>
              </div>
              <div id='search-term'>
              </div>
              <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
                <img class="gif-result" id="gifSearchResult1" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult2" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult3" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult4" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult5" draggable="true" ondragstart="drag(event)"></img>
              </div>
              <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
                <img class="gif-result" id="gifSearchResult6" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult7" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult8" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult9" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult10" draggable="true" ondragstart="drag(event)"></img>
              </div>
              <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
                <img class="gif-result" id="gifSearchResult11" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult12" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult13" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult14" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult15" draggable="true" ondragstart="drag(event)"></img>
              </div>
              <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
                <img class="gif-result" id="gifSearchResult16" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult17" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult18" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult19" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult20" draggable="true" ondragstart="drag(event)"></img>
              </div>
            </div>
            <div class="page-action">
              <button class="btn btn-secondary" id="backToWelcomeBtn">Cancel</button>
              <button class="btn btn-info" id="clearSelectedGifsBtn">Clear Selected GIFs</button>
              <button class="btn btn-primary" id="goToAddSoundBtn">Next: Add Sound!</button>
              <!-- <button class="btn btn-primary" id="goToAddSoundBtn">Review Your GIFovie</button> -->
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="addsound-section" id="addSoundSection">
            <h3 class="section-title">Add Sound</h3>
            <div class="page-content">
              <div class="input-group mb-3" id="soundSearch">
                <input type="text" class="form-control" id="soundSearchInput" placeholder="Search Sounds...">
                <div class="input-group-append">
                  <button class="btn btn-primary" id="soundSearchBtn">Search</button>
                </div>
              </div>
              <center><div class="search-results" id="soundSearchResults">
                <div style="display: inline-block">
                  <audio id="soundResult1" type="audio/wav" controls cors='use-credentials' draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult2" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult3" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                </div>
                <div style="display: inline-block">
                  <audio id="soundResult4" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult5" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult6" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                </div>
                <div style="display: inline-block">
                  <audio id="soundResult7" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult8" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult9" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                </div>
              </div></center>
            </div>
            <div class="page-action">
              <button class="btn btn-secondary" id="backToAddGifBtn">Back</button>
              <button class="btn btn-info" id="clearSelectedSoundsBtn">Clear Selected Sounds</button>
              <button class="btn btn-primary" id="goToReviewBtn">Review Your GIFovie</button>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="review-section" id="reviewSection">
            <!-- REVIEW AND SHARE YOUR GIFOVIE -->
            <h3 class="section-title">Review Your GIFovie</h3>
            <div class="page-content review">
              <center><div id="chosenGifsArea">
                <img class="final-gif" id="finalGif1"></img>
                <img class="final-gif" id="finalGif2"></img>
                <img class="final-gif" id="finalGif3"></img>
                <img class="final-gif" id="finalGif4"></img>
              </div>
              <div id="chosenSoundsArea">
                Sounds:<br/>
                <span>For GIF 1: <p class="final-sound" id="finalSound1"></p></span>
                <span>For GIF 2: <p class="final-sound" id="finalSound2"></p></span>
                <span>For GIF 3: <p class="final-sound" id="finalSound3"></p></span>
                <span>For GIF 4: <p class="final-sound" id="finalSound4"></p></span>
              </div></center>
            </div>
            <div class="page-action">
              <button class="btn btn-lg btn-secondary" id="backToAddSoundBtn">Back</button>
              <button class="btn btn-lg btn-primary" id="downloadBtn">Download Your GIFovie</button>
            </div>
          </div>
          <div class="progress" id="progressBar">
            <!-- FIXED PROGRESS BAR GOES HERE -->
            <div class="chosen-gifs" id="chosenGifs">
              <small id="chosenGifsTitle">Drop GIFs in the top row and sounds in the bottom row.</small><br/>
              <div id="chosenGifsArea">
                <img class="selected-gif" id="selectedGif1" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
                <img class="selected-gif" id="selectedGif2" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
                <img class="selected-gif" id="selectedGif3" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
                <img class="selected-gif" id="selectedGif4" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
              </div>
              <div id="chosenSoundsArea">
                <small class="selected-sound" id="selectedSound1" ondrop="drop(event)" ondragover="allowDrop(event)"></small>
                <small class="selected-sound" id="selectedSound2" ondrop="drop(event)" ondragover="allowDrop(event)"></small>
                <small class="selected-sound" id="selectedSound3" ondrop="drop(event)" ondragover="allowDrop(event)"></small>
                <small class="selected-sound" id="selectedSound4" ondrop="drop(event)" ondragover="allowDrop(event)"></small>
              </div>
            </div>
            <!--<div class="chosen-sounds" id="chosenSounds">
              <span id="chosenSoundsTitle"></span>
              <div id="chosenSoundsArea"></div>
            </div>-->
          </div>

          <div class="modal fade" id="downloadSuccessModal" tabindex="-1" role="dialog" aria-labelledby="downloadSuccessLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="alert alert-success" role="alert" id="downloadSuccessAlert">Your GIFovie has been successfully downloaded!</div>
                </div>
              </div>
            </div>
          </div>
        </form>
  </body>
</html>
