<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style>
    /*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');*/
    html {
      scroll-behavior: smooth;
      margin: 0;
      height: 100%;
      overflow: hidden;
    }

    body {
      font-family: Tahoma;
    }

    .welcome-section {
      height: 100vh;
      width: 100%;
      text-align: center;
      background-color: #e0e0e0;
      display: table;
      z-index: 100;
    }

    .welcome-page-content {
      display: table-cell;
      vertical-align: middle;
    }

    #title {
      font-size: 6vw;
      font-weight: bold;
      color: #003366;
    }

    #subtitle {
      font-size: 3vw;
      color: black;
    }

    .header {
      position: fixed;
      height: 10vh;
      width: 100%;
      background-color: #003366;
      color: white;
      text-align: center;
      vertical-align: middle;
      font-size: 4vh;
      font-weight: bold;
      display: table;
      z-index: -1;
    }

    .header-text {
      height: 10vh;
      display: table-cell;
      vertical-align: middle;
    }

    .section-title {
      text-align: center;
    }

    .addgif-section {
      min-height: 80vh;
      width: 100%;
      display: table;
      padding-top: 11vh;
      padding-left: 1vh;
      padding-right: 1vh;
      padding-bottom: 1vh;
    }

    .addsound-section {
      min-height: 80vh;
      width: 100%;
      display: table;
      padding-top: 11vh;
      padding-left: 1vh;
      padding-right: 1vh;
      padding-bottom: 1vh;
    }

    .review-section {
      min-height: 100vh;
      width: 100%;
      display: table;
      padding-top: 11vh;
      padding-left: 1vh;
      padding-right: 1vh;
      padding-bottom: 1vh;
    }

    .progress {
      min-height: 20vh;
      width: 100%;
      position: fixed;
      bottom: 0;
      font-size: 10vw;
      padding: 1vw;
      background-color: #e0e0e0;
    }

    .page-content {
      min-height: 55vh;
      vertical-align: middle;
      bottom: 0;
      right: 0;
      border: solid transparent 1px;
      z-index: -1;
    }

    .search-result-section {
      min-height: 20vh;
      background-color: #e0e0e0;
    }

    .page-action {
      float: right;
      padding: 1vw;
      bottom: 0;
      right: 0;
      z-index: -1;
      border: solid red 1px;
    }

    #downloadSuccessAlert {
      display: none;
    }

    #gifSearch {
      min-height: 5vh;
      z-index: -1;
    }

    </style>
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->

    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body>
    <div class="header" id="header">
      <p class="header-text">GIFovie</p>
    </div>
    <div class="welcome-section" id="welcomeSection">
      <div class="welcome-page-content">
        <div id="title">GIFovie</div>
        <div id="subtitle">Make Movies Out of GIFs</div><br/>
        <button class="btn btn-lg btn-primary" id="getStartedBtn" onclick="getStarted()">Get Started</button>
      </div>
    </div>
    <div class="addgif-section" id="addGifSection">
      <!-- ADD GIFS TO YOUR GIFOVIE -->
      <h3 class="section-title">Add GIFs</h3>
      <div class="page-content">
        <div class="input-group mb-3" id="gifSearch">
          <input type="text" class="form-control" id="gifSearchInput">
          <div class="input-group-append">
            <button class="btn btn-primary" id="gifSearchBtn">Search</button>
    		  </div>
        </div>

      </div>
      <div class="page-action">
        <button class="btn btn-secondary" id="backToWelcomeBtn">Cancel</button>
        <button class="btn btn-primary" id="goToAddSoundBtn">Next: Add Sound!</button>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="addsound-section" id="addSoundSection">
      <!-- ADD SOUNDS TO YOUR GIFOVIE -->
      <h3 class="section-title">Add Sound</h3>
      <div class="page-content">

      </div>
      <div class="page-action">
        <button class="btn btn-secondary" id="backToAddGifBtn">Back</button>
        <button class="btn btn-primary" id="goToReviewBtn">Review Your GIFovie</button>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="review-section" id="reviewSection">
      <!-- REVIEW AND SHARE YOUR GIFOVIE -->
      <h3 class="section-title">Review Your GIFovie</h3>
      <div class="page-content">
      </div>
      <div class="page-action">
        <button class="btn btn-secondary" id="backToAddSoundBtn">Back</button>
        <button class="btn btn-primary" id="downloadBtn">Download Your GIFovie</button>
      </div>
    </div>
    <div class="progress">
      <!-- FIXED PROGRESS BAR GOES HERE -->
    </div>

    <div class="modal fade" id="downloadSuccessModal" tabindex="-1" role="dialog" aria-labelledby="downloadSuccessLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="alert alert-success" role="alert" id="downloadSuccessAlert">Your GIFovie has been successfully downloaded!</div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
