<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style>
    /*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');*/
    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: Tahoma;
    }

    .welcome-section {
      height: 100vh;
      width: 100%;
      text-align: center;
      background-color: #e0e0e0;
      display: table;
    }

    .page-content {
      display: table-cell;
      vertical-align: middle;
    }

    #title {
      font-size: 6vw;
      font-weight: bold;
      color: #007bff;
    }

    #subtitle {
      font-size: 3vw;
      color: black;
    }

    .header {
      position: fixed;
      height: 10vh;
      width: 100%;
      display: none;
      background-color: #007bff;
      color: white;
    }

    .addgif-section {
      min-height: 75vh;
      width: 100%;
      display: table;
      padding: 1vw;
    }

    .addsound-section {
      min-height: 75vh;
      width: 100%;
      display: table;
      padding: 1vw;
    }

    .review-section {
      min-height: 75vh;
      width: 100%;
      display: table;
      padding: 1vw;
    }

    .progress {
      height: 15vh;
      width: 100%;
      position: fixed;
      bottom: 0;
      font-size: 10vw;
      display: none;
      padding: 1vw;
    }

    .page-action {
      float: right;
      display: inline-block;
      bottom: 0;
      right: 0;
      padding: 1vw;
    }

    </style>
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->

    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body>
    <div class="header" id="header">GIFovie</div>
    <div class="welcome-section">
      <!-- WELCOME SECTION. APP TITLE AND BUTTON TO GET STARTED. -->
      <div class="page-content">
        <div id="title">GIFovie</div>
        <div id="subtitle">Make Movies Out of GIFs</div><br/>
        <button class="btn btn-lg btn-primary" id="getStartedBtn" onclick="getStarted()">Get Started</button>
      </div>
    </div>
    <div class="addgif-section" id="addGifSection">
      <!-- ADD GIFS TO YOUR GIFOVIE -->
      <div class="page-action">
        <button class="btn btn-secondary" id="backToWelcomeBtn">Cancel</button>
        <button class="btn btn-primary" id="goToAddSoundBtn">Next: Add Sound!</button>
      </div>
    </div>
    <div class="addsound-section">
      <!-- ADD SOUNDS TO YOUR GIFOVIE -->
      <div class="page-action">
        <button class="btn btn-secondary" id="backToWelcomeBtn">Back</button>
        <button class="btn btn-primary" id="goToAddSoundBtn">Review Your GIFovie</button>
      </div>
    </div>
    <div class="review-section">
      <!-- REVIEW AND SHARE YOUR GIFOVIE -->
      <div class="page-action">
        <button class="btn btn-secondary" id="backToWelcomeBtn">Back</button>
        <button class="btn btn-primary" id="goToAddSoundBtn">Share!</button>
      </div>
    </div>
    <div class="progress">
      <!-- FIXED PROGRESS BAR GOES HERE -->
    </div>
  </body>
</html>
