<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->

    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
  </head>
  <body>
    <div class="welcome-section">
      <!-- WELCOME SECTION. APP TITLE AND BUTTON TO GET STARTED. -->
    </div>
    <div class="addgif-section">
      <!-- ADD GIFS TO YOUR GIFOVIE -->
    </div>
    <div class="addsound-section">
      <!-- ADD SOUNDS TO YOUR GIFOVIE -->
    </div>
    <div class="review-section">
      <!-- REVIEW AND SHARE YOUR GIFOVIE -->
    </div>
    <div class="progress">
      <!-- FIXED PROGRESS BAR GOES HERE -->
    </div>
  </body>
</html>
