<html>
  <head>
    <meta charset="utf-8">
    <title>GIFovie</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->

    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/freesound.js"></script>
    <script type="text/javascript">
      freesound.setToken("hNPvV1w5NETnh45zEYJe4gq4QvPzg6D6xEskdZqY");
    </script>
  </head>
  <body>
    <div class="header" id="header">
      <p class="header-text" id="headerText">GIFovie</p>
    </div>
    <div class="welcome-section" id="welcomeSection">
      <div class="welcome-page-content">
        <div id="title">GIFovie</div>
        <div id="subtitle">Turn GIFs into Movies</div><br/>
        <button class="btn btn-lg btn-primary" id="getStartedBtn">--> Get Started <--</button>
      </div>
    </div>
    <div class="addgif-section" id="addGifSection">
      <!-- ADD GIFS TO YOUR GIFOVIE -->
      <h3 class="section-title">Add GIFs</h3>
      <div class="page-content">
        <form id="gifovie-form" onsubmit="return submitGifovieForm();">
            <div class="input-group mb-3" id="gifSearch">
                <input type="text" class="form-control" id="gifSearchInput" placeholder="Search GIFs...">
                <div class="input-group-append">
                  <button class="btn btn-primary" id="gifSearchBtn">Search</button>
                </div>
              </div>
              <div id='search-term'>
              </div>
              <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
                <img class="gif-result" id="gifSearchResult1" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult2" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult3" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult4" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult5" draggable="true" ondragstart="drag(event)"></img>
              </div>
              <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
                <img class="gif-result" id="gifSearchResult6" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult7" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult8" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult9" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult10" draggable="true" ondragstart="drag(event)"></img>
              </div>
              <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
                <img class="gif-result" id="gifSearchResult11" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult12" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult13" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult14" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult15" draggable="true" ondragstart="drag(event)"></img>
              </div>
              <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
                <img class="gif-result" id="gifSearchResult16" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult17" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult18" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult19" draggable="true" ondragstart="drag(event)"></img>
                <img class="gif-result" id="gifSearchResult20" draggable="true" ondragstart="drag(event)"></img>
              </div>
            </div>
            <div class="page-action">
              <button class="btn btn-secondary" id="backToWelcomeBtn">Cancel</button>
              <button class="btn btn-info" id="clearSelectedGifsBtn">Clear Selected GIFs</button>
              <button class="btn btn-primary" id="goToAddSoundBtn">Next: Add Sound!</button>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="addsound-section" id="addSoundSection">
            <h3 class="section-title">Add Sound</h3>
            <div class="page-content sounds">
              <div class="input-group mb-3" id="soundSearch">
                <input type="text" class="form-control" id="soundSearchInput" placeholder="Search Sounds...">
                <div class="input-group-append">
                  <button class="btn btn-primary" id="soundSearchBtn">Search</button>
                </div>
              </div>
              <center><div class="search-results" id="soundSearchResults">
                <div style="display: inline-block">
                  <audio id="soundResult1" type="audio/wav" controls cors='use-credentials' draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult2" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult3" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                </div>
                <div style="display: inline-block">
                  <audio id="soundResult4" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult5" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult6" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                </div>
                <div style="display: inline-block">
                  <audio id="soundResult7" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult8" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                  <audio id="soundResult9" type="audio/wav" controls draggable="true" ondragstart="drag(event)"></audio>
                  <p class="sound-name"></p>
                </div>
              </div></center>
            </div>
            <div class="page-action">
              <button class="btn btn-secondary" id="backToAddGifBtn">Back</button>
              <button class="btn btn-info" id="clearSelectedSoundsBtn">Clear Selected Sounds</button>
              <button class="btn btn-primary" id="goToReviewBtn">Review Your GIFovie</button>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="review-section" id="reviewSection">
            <!-- REVIEW AND SHARE YOUR GIFOVIE -->
            <h3 class="section-title">Review Your GIFovie</h3>
            <div class="page-content review">
              <center><div id="chosenGifsArea">
                <img class="final-gif" id="finalGif1"></img>
                <img class="final-gif" id="finalGif2"></img>
                <img class="final-gif" id="finalGif3"></img>
                <img class="final-gif" id="finalGif4"></img>
              </div>
              <div id="chosenSoundsArea">
                Sounds:<br/>
                <span>For GIF 1: <p class="final-sound" id="finalSound1"></p></span>
                <span>For GIF 2: <p class="final-sound" id="finalSound2"></p></span>
                <span>For GIF 3: <p class="final-sound" id="finalSound3"></p></span>
                <span>For GIF 4: <p class="final-sound" id="finalSound4"></p></span>
              </div></center>
            </div>
            <div class="page-action">
              <button class="btn btn-lg btn-secondary" id="backToAddSoundBtn">Back</button>
              <button class="btn btn-lg btn-primary" id="downloadBtn">Download Your GIFovie</button>
            </div>
          </div>
          <div class="progress" id="progressBar">
            <!-- FIXED PROGRESS BAR GOES HERE -->
            <div class="chosen-gifs" id="chosenGifs">
              <small id="chosenGifsTitle">Drag and drop GIFs here.</small><br/>
              <div id="chosenGifsArea">
                <img class="selected-gif" id="selectedGif1" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
                <img class="selected-gif" id="selectedGif2" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
                <img class="selected-gif" id="selectedGif3" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
                <img class="selected-gif" id="selectedGif4" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
              </div>
              <div id="chosenSoundsArea">
                <small class="selected-sound" id="selectedSound1" ondrop="drop(event)" ondragover="allowDrop(event)"></small>
                <small class="selected-sound" id="selectedSound2" ondrop="drop(event)" ondragover="allowDrop(event)"></small>
                <small class="selected-sound" id="selectedSound3" ondrop="drop(event)" ondragover="allowDrop(event)"></small>
                <small class="selected-sound" id="selectedSound4" ondrop="drop(event)" ondragover="allowDrop(event)"></small>
              </div>
              <small id="chosenSoundsTitle">Drag and drop sounds here.</small>
            </div>
          </div>

          <div class="modal fade" id="downloadSuccessModal" tabindex="-1" role="dialog" aria-labelledby="downloadSuccessLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="alert alert-success" role="alert" id="downloadSuccessAlert">Your GIFovie has been successfully downloaded!</div>
                </div>
              </div>
            </div>
          </div>
        </form>
  </body>
</html>
