<html>
<% include ../partials/header %>
<!-- ADD GIFS TO YOUR GIFOVIE -->
<body>
  <div class="addgif-section" id="addGifSection">
    <div class="cover">
      <div class="loading-text">Loading...</div>
    </div>
    <h3 class="section-title">Add GIFs</h3>
    <div class="page-content">
      <div class="input-group mb-3" id="gifSearch">
        <input type="text" class="form-control" id="gifSearchInput" placeholder="Search GIFs...">
        <div class="input-group-append">
          <button class="btn btn-primary" id="gifSearchBtn">Search</button>
        </div>
      </div>
      <center><h4 id='searchTerm'>Trending GIFs</h4></center>
      <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
        <img class="gif-result" id="gifSearchResult1" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult2" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult3" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult4" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult5" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult6" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult7" draggable="true" ondragstart="drag(event)" src="#"></img>
      </div>
      <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
        <img class="gif-result" id="gifSearchResult8" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult9" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult10" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult11" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult12" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult13" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult14" draggable="true" ondragstart="drag(event)" src="#"></img>
      </div>
      <div class="search-results" id="gifSearchResults" ondrop="dropGif(event)" ondragover="allowDrop(event)">
        <img class="gif-result" id="gifSearchResult15" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult16" draggable="true" ondragstart="drag(event)" src="#" oncontextmenu="alert('test');"></img>
        <img class="gif-result" id="gifSearchResult17" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult18" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult19" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult20" draggable="true" ondragstart="drag(event)" src="#"></img>
        <img class="gif-result" id="gifSearchResult21" draggable="true" ondragstart="drag(event)" src="#"></img>
      </div>
    </div>
    <div class="page-action">
      <button class="btn btn-secondary" id="backToWelcomeBtn">Cancel</button>
      <button class="btn btn-info" id="refreshGifsBtn">Refresh GIFs</button>
      <button class="btn btn-primary" id="goToAddSoundBtn">Next: Add Sound!</button>
    </div>
  </div>
</body>
<% include ../partials/footer %>
</html>
