<html>
<% include ../partials/header %>

<body>
  <div class="review-section" id="reviewSection">
    <!-- REVIEW AND SHARE YOUR GIFOVIE -->
    <h3 class="section-title">Review Your GIFovie</h3>
    <center>
      <div class="page-content review">
        <video width="360" height="240" controls>
          <source id="finalGIFovie1" type="video/mp4" src="localhost:3000/gifovie0.mp4">
        </video>
        <video width="360" height="240" controls>
          <source id="finalGIFovie2" type="video/mp4">
        </video>
        <video width="360" height="240" controls>
          <source id="finalGIFovie3" type="video/mp4">
        </video>
        <video width="360" height="240" controls>
          <source id="finalGIFovie4" type="video/mp4">
        </video>
        <div class="review-action">
          <button class="btn btn-lg btn-secondary" id="backToAddSoundBtn">Back</button>
          <button class="btn btn-lg btn-primary" id="downloadBtn">Download Your GIFovie</button>
        </div>
      </div>
    </center>
  </div>

  <div class="modal fade" id="downloadSuccessModal" tabindex="-1" role="dialog" aria-labelledby="downloadSuccessLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="alert alert-success" role="alert" id="downloadSuccessAlert">Your GIFovie has been successfully
            downloaded!</div>
        </div>
      </div>
    </div>
  </div>
  </form>

</body>

</html>
